<div class="col-md-8 col-md-offset-2">
  <form (ngSubmit)="onSubmit(refLocalForm)" #refLocalForm="ngForm" ngNativeValidate>
      <div class="form-group">
        <label for="myContent">Conteúdo</label>
        <input type="text" id="myContent" class="form-control" ngModel name="myContentngForm"
          required oninvalid="this.setCustomValidity('Campo vazio')" oninput="this.setCustomValidity('')"
        >
      </div>
      <button type="submit" class="btn btn-primary mt-2">Salve minha mensagem</button>
  </form>
</div>
